$timeline-burned-color: $charcoal-grey;
$timeline-bar-color:    $iron-grey;

$timeline-shadow: $shadow;


#timeline {
    @extend %section;

    padding: 0.5rem !important;

    .bar_style {
        select {
            @extend %shadowless;
            @extend %no-background-color;
        }
    }

    .range_input {
        @extend %shadowless;
    }

    .graph_panel {
        overflow: hidden !important;
    }

    .graph {
        .bkgd {
            @extend %no-background-color;
            fill: transparent;
        }

        .label-x > text,
        .label-y > text,
        .markers > path {
            fill: $text-color;
        }

        .markers > .bur {
            fill: $timeline-burned-color !important;
        }

        @each $type in (rad, kan, voc) {
            .#{$type} {
                fill: character-color($type) !important;
            }
        }
    }

    .review_info {
        .inner {
            @extend %popup;
        }

        .detail_buttons > button {
            margin-bottom: 0.3em;
        }

        .summary {
            .item_type:first-child,
            .srs_stage:nth-child(4),
            .level:nth-child(8) {
                border-top: {
                    left-radius: 0.3em;
                    right-radius: 0.3em;
                }
            }

            .item_type:nth-child(3),
            .srs_stage:nth-child(7),
            .level:nth-child(13) {
                border-bottom: {
                    left-radius: 0.3em;
                    right-radius: 0.3em;
                }
            }
        }

        .tot {
            @extend %clear-background;
        }

        .bur {
            background: $timeline-burned-color !important;
        }

        .item_type > span {
            color: $shade-black !important;
        }

        .rad {
            @extend %no-background-image;
            @include character('radical');

            svg {
                stroke: $shade-black;
            }
        }

        .kan {
            @extend %no-background-image;
            @include character('kanji');
        }

        .voc {
            @extend %no-background-image;
            @include character('vocabulary');
        }
    }
}
